<div class="main_container">
<h1 style="margin:auto">All my lists</h1>

<br><div class="d-flex flex-column flex-container">


  <% @lists.each do |list| %>
    <div class="card col-3" style="width: 18rem;">
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
      <div class="card-body">
        <p class="card-text">
          <%= link_to list.name, list_path(list) %>
        </p>
      </div>
  </div>

  <% end %>
</div>
<br>
<%=  link_to "â• Make new list", new_list_path, class: "btn btn-primary" %>
</div>
